// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index_body {
  display: flex;
 
}
.side_bar {
  background-color: #ddd;
  width: 400px;
  height: calc(100% - 70px);
}
.side_title {
  font-size: 30px;
}
.side_schedule {
  margin-top: 10px;
  padding-left: 10px;
}
.date_time {
  border-bottom: solid 2px black;
  margin-bottom: 10px;
}
.side_bar_box {
  background-color: aliceblue;
  width: 250px;
  padding: 10px;
  margin:0px 20px 10px;
}
.side_bar_name {
  font-size: 20px;
}
.side_bar_nutrients {
  background-color: #fff9f9;
  margin-left: 20px;
}
.nutrients {
  font-size: 12px;
}
.main {
  background-color: #ccc;
  width: calc(100% - 300px);
}
.today_total {
  background-color: ccc;
  padding-bottom: 20px;
}
.total_box {
  display: flex;
}
.today_nutrients {
  background-color: #c0c0c0;
  margin-left: 30px;
  width: 300px;
}
.today_nutrients_title {
  font-size: large;
}
.today_nutrients_box {
  margin-left: 20px;
}
.main_menu {
  display: flex;
}
.menu_box {
  background-color: aliceblue;
  width: 300px;
  padding: 10px;
  margin: 20px;
}
.menu_name {
  font-size: 20px;
}
.menu_nutrients {
  background-color: #fff9f9;
  margin-left: 20px;
}