// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index_body {
  display: flex;
 
}
.side_bar {
  width: 400px;
  height: calc(100% - 70px);
}
.side_title {
  font-size: 30px;
}
.side_schedule {
  margin-top: 10px;
  padding-left: 10px;
}
.date_time {
  border-bottom: solid 2px black;
  margin-bottom: 10px;
}
.side_bar_box {
  width: 250px;
  padding: 10px;
  margin:0px 20px 10px;
  border: solid gray 2px;
  border-radius: 15px;
}
.side_bar_name {
  font-weight: bold;
}
.side_bar_name {
  font-size: 20px;
}
.side_bar_nutrients {
  margin-left: 20px;
  border: solid gainsboro 1px;
}
.nutrients {
  font-size: 12px;
}
.main {
  width: calc(100% - 300px);
}
.today_total {
  padding-bottom: 20px;
}
.total_box {
  display: flex;
  
}
.today_nutrients {
  margin-left: 30px;
  width: 300px;
  border: solid gray 2px;

}
.today_nutrients_title {
  font-size: large;
  background-color: #fedcbd;
}
.today_nutrients_box {
  margin-left: 20px;
}
.main_menu {
  display: flex;
  flex-wrap: wrap;
}
.menu_box {
  width: 310px;
  padding: 5px;
  margin: 10px;
  height: 160px;
  border: solid gray 2px;
  border-radius: 15px;
}
.menu_name {
  font-size: 20px;
}
.menu_menu {
  display: flex;
}
.menu_nutrients {
  margin-left: 10px;
  border: solid gainsboro 1px;
  font-size: 12px;
}