// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index_body {
  display: flex;
 
}
.side_bar {
  background-color: gold;
  width: 300px;
  height: calc(100vh - 70px);
}

.main {
  background-color: goldenrod;
  width: calc(100% - 300px);
}