/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  background-color:darkorange;
}
.header__bar, .row {
  display: flex;
  justify-content: space-between;
}
.post {
}
.header_next {
  display: flex;
  justify-content: space-between;
}
.second_title_ber {
  display: flex;
  
}
.second_title {
  margin-left: 20px;
}
.hello_user {
  text-align: right;
}

/* フッター */

footer {
  background-color: darkorange;
}